
/*
* Base setup
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana, sans-serif; 
  color: white;
}

.circle {
  position: absolute;
  top: 40px;
  left: 40px;

  background-color: rgb(82, 57, 150);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.intro {
  position: absolute;
  top: 200px;
  left: 200px;

  display: flex;
  max-width: 600px;
}

h1 {
  font-size: 36px;
  padding-bottom: 10px;
  font-size: normal;
}

p {
  font-size: 20px;
}

.triangle {
  display: block;
  height: 100px;
  width: 100px;
}





